#buttons{
  width: fit-content;
  padding: 30px;
  max-width: 700px;
  margin: auto;
}
#buttons input{
  background-color: lightgreen;
  padding: 10px;
  size: 3em;
  margin: 10px 25px;
  border-radius: 10px;
  align-self: center;
}
#buttons input:hover{
  box-shadow: 0 0 1px 1px  lightseagreen ;
}

h3{
  color:blueviolet;
  font-size: x-large;
  text-align: center;
  margin-left: 25px;
}
